// Black
$black: #000000;

// White
$white: #ffffff;

// Primary
$primary-1 :#363738;

// Secondary
$seconday-1 :#F5F5F5;
$seconday-2 :#FEFAF1;


// Success
$success-900: #064e3b;
$success-800: #065f46;
$success-700: #047857;
$success-600: #059669;
$success-500: #10b981;
$success-400: #34d399;
$success-300: #6ee7b7;
$success-200: #a7f3d0;
$success-100: #d1fae5;
$success-50: #ecfdf5;

// Warning
$warning-900: #78350f;
$warning-800: #92400e;
$warning-700: #b45309;
$warning-600: #d97706;
$warning-500: #f59e0b;
$warning-400: #fbbf24;
$warning-300: #fcd34d;
$warning-200: #fde68a;
$warning-100: #fef3c7;
$warning-50: #fffbeb;

// Error
$error-900: #881337;
$error-800: #9f1239;
$error-700: #be123c;
$error-600: #e11d48;
$error-500: #f43f5e;
$error-400: #fb7185;
$error-300: #fda4af;
$error-200: #fecdd3;
$error-100: #ffe4e6;
$error-50: #fff1f2;

// Error
$error-900: #881337;
$error-800: #9f1239;
$error-700: #be123c;
$error-600: #e11d48;
$error-500: #f43f5e;
$error-400: #fb7185;
$error-300: #fda4af;
$error-200: #fecdd3;
$error-100: #ffe4e6;
$error-50: #fff1f2;

// Button
$button-1: #47b486;
$button-1-hover: #04824e;
$button-2: #db4444;
$button-2-hover: #e2b93b;

// Grayscale
$title-active: #14142b;
$body: #4e4b66;
$label: #6e7191;
$placeholder: #a0a3bd;
$line: #d9dbe9;
$input-bg: #eff0f6;
$element-bg:#F5F5F5;
$element-bg-2: #f7f7fc;
$off-white : #FCFCFC;