@import "../../style/styles.scss";

.flashsale-countdown-left {
  font-size: 30px;
  font-weight: 600;
  color: $black;
}
.flashsale-countdown-interval{
    font-size: 16px;
    color: $button-2;
}
.flashsale-countdown-end{
    font-size: 30px;
    font-weight: 600;
    color: $button-2;
}