@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./base/__base-dir";

body {
  font-family: "Montserrat", sans-serif;
}


.container {
  padding-left: 135px;
  padding-right: 135px;
}



@media (max-width: $large-desktop) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
